---
import Arrow from './Arrow.astro'

interface Props {
  img: string
  title: string
  text: string
  subtitle?: string
  width: string
  height: string
}
const { img, title, text, subtitle, width, height } = Astro.props
---

<article class="w-full flex justify-start items-baseline flex-col mb-6">
  <h2 class="hidden font-semibold text-6xl mb-4 md:block">{subtitle}</h2>
  <img src={img} alt="Servicios Imagen" class="w-full mb-2" loading="lazy" decoding="async" width={width} height={height}>
  <a class="flex justify-center items-center font-semibold text-lg link" href="https://wa.me/525552905635?text=Buenas%20tardes,%20solicito%20informaci%C3%B3n%20sobre" target="_blank" rel="noopener noreferrer"><h2>{title}</h2> <Arrow class="w-4 ml-2"/></a>
  <p class="w-full">{text}</p>
</article>

<style>
  .link {
    transition: all 0.275s ease-in-out;
    position: relative;
  }
  .link::after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    width: 0%;
    height: 2px;
    background-color: goldenrod;
    transition: all 0.275s ease-in-out;
  }
  .link:hover::after {
    transition: all 0.275s ease-in-out;
    width: 100%;
  }
</style>